* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding-inline : 15px;
  background-color: #021e22;
  box-shadow: 0px 0px 7px 0px #ffffff50;
}

abbr{
  text-decoration:none;
}
h1{
  color: #fff;
}
nav{
  display:flex;
  height : 100%;
}

nav a{
  text-decoration:none;
  color : white;
  height:100%;
  width: 7em;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

nav a:hover{
  background-color: rgba(180, 180, 180, 0.5);
}
body{
  background-image: url('img/bkg.jpeg');
}
.colorful-form {
    box-shadow: 0px 0px 15px 0px #0a0072;
    max-width: 500px;
    margin: 50px auto;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
  }

  .form-input {
    display:block;
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
  }

  textarea.form-input {
    height: 100px;
  }

  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b20e09;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-button:hover {
    background-color: #ff5f59;
    color: #333;
  }
  
  footer{
    background-color: #021e22; 
    padding: 10px;
 }

  .free{
    display: flex;
    height: 70px;
    width: 270px;
    margin-left: 41%;
  }
  
  .free a {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .free .social-link1,.free .social-link2,.free .social-link3,.free .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .free svg {
    transform: scale(1);
  }
  
  .free .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .free .social-link2:hover {
    background-color: #af2218;
    animation: bounce_613 0.4s linear;
  }
  
  .free .social-link3:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  .free .social-link4:hover {
    background-color: #005360;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }